@import "../../styles/_mixins";
@import "../../styles/_variables";

.timeline{
    &__position{
        h3{
            color: $timelineColor;
        }
        
    }
    &__name{
        
    }
    &__badges{
        padding: 10px;
        background-color: $badgeColor;
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        display: inline-block;
    }
    &__list{
        margin: 10px 0px 0px 30px;
        ul{
            li{
                font-size: 15px;
                
            }
        }
    }
}