@import "../../../styles/_variables";

.text{
    h4{
        color: #147efb;
        font-size: 17px;
        font-weight: 800;
        margin-bottom: 10px;
        text-transform: uppercase;  
        @media screen and (max-width: $small) {
            text-align: center;
          }
    }
}