@import "../src/styles/_variables";
@import "../src/styles/_mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  @include with_background;
}

.about,.experience{
  @include without_background;
}

.projects,.contact{
  @include with_background;
}


